{% extends 'base.html' %}
{% load static %}
{% block title_block %} Error 404 Page Not Found {% endblock %}
{% block body_block %}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <div class="grid place-items-center">
    <lottie-player class="m-auto w-full md:w-9/12 text-center" src="https://assets2.lottiefiles.com/packages/lf20_x8drwxma.json" background="transparent" speed="1"
                   style="" loop autoplay></lottie-player>
    </div>


{% endblock %}