{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    {{ title }}
{% endblock %}

{% block body_block %}
    <div class="w-1/2 m-auto p-4 border rounded-md mt-10">
        {% if error_message %}
            <div class="bg-red-200 border border-red-700 px-4 py-3 my-5">
                {{ error_message }}
            </div>
        {% endif %}

        <form action="" method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class="px-4 py-3 bg-indigo-900 hover:bg-indigo-700 focus:bg-indigo-700 focus:outline-none text-white rounded-md w-full">{{ button }}</button>
        </form>
    </div>

{% endblock %}