<!doctype html>
{% load static %}
{% load pwa %}
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title_block %}
        Search Your Favourite Movies and TV Shows
    {% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.svg" %}">
    <link rel="stylesheet" href="{% static 'fonts/css/all.min.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,400&display=swap"
          rel="stylesheet">
    {% block style_block %}
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    {% endblock %}
    {% progressive_web_app_meta %}
</head>
<body class="text-gray-800 text-sm transition tracking-wide min-h-full flex flex-col"
      style="font-family: 'Poppins', sans-serif;">

{% include 'nav.html' %}

<div class="">
    {% block body_block %}

    {% endblock %}
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"
        class="hidden fixed bottom-2 right-3 z-10 border-0 outline-none bg-indigo-900 text-white cursor-pointer rounded-md p-4">
    Top
</button>

<div class="footer overflow-hidden bg-indigo-900 text-center text-white font-semibold mt-auto py-3 sticky top-full">
    <h2 class="">All Rights Reserved &copy; Nahidujjaman 2021</h2>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let bar = document.querySelector('.bars');
    let menus = document.querySelector('.menus');
    bar.addEventListener('click', (e) => {
        if (menus.classList.contains('-right-80')) {
            menus.classList.remove('-right-80')
            menus.classList.add('right-0')
        } else {
            menus.classList.remove('right-0')
            menus.classList.add('-right-80')
        }

    })
</script>
<script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
{% block script_block %}

{% endblock %}
</body>
</html>